@font-face 
  font-family: 'Lato-Bold'
  src: url('../fonts/Lato-Bold.ttf')
@mixin bold
  font-family: 'Lato-Bold'
@font-face 
  font-family: 'Lato-Medium'
  src: url('../fonts/Lato-Medium.ttf')
@mixin med 
  font-family: 'Lato-Medium'
@font-face 
  font-family: 'Lato-Regular'
  src: url('../fonts/Lato-Regular.ttf')
@mixin reg
  font-family: 'Lato-Regular'
body 
  +reg 
  font-size: 16px 
  color: #102746
.container2
  max-width: 1295px 
  margin: 0 auto
  padding: 0 15px 
.container1
  max-width: 1090px 
  margin: 0 auto
  padding: 0 15px 
.title 
  +med 
  font-size: 35px 
  line-height: 42px 
  position: relative
  &::before
    content: ''
    position: absolute
    left: 0
    bottom: -10px
    width: 250px 
    border: 2px solid #006DFE



